@media (min-width: 768px) {
    .container {
        width: 748px;
    }


    .header {
        min-height: 700px;
        background: var(--color-dark) url('../img/banner-tablet.png') no-repeat center;
        background-size: 100%;
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        padding: 0;
    }

    .menu {
        padding: 0;
    }

    .title {
        padding-top: 90px;
        font-size: 52px;
    }

    .info {
        padding-top: 20px;
        font-size: 22px;        
    }
    
    .partner {
        min-height: 260px;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 940px;
    }

    .header {
        min-height: 525px;
        background: var(--color-dark) url('../img/banner-desktop.png') no-repeat center;
        background-size: 100%;
    }
}